.section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 3rem;
    margin: 2rem 0rem;
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
    margin-bottom: 2rem;
}
.question h4{
    font-size: 1.8rem;
}
.answer .p1{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 14px;
    color: black;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.p2{
    margin-top: -5%;
    font-size: 12px;
}
.faq.active .answer{
    max-height: 300px;
    color: lightgreen;
    animation: fade 1s ease-in-out;
}
.faq.active h4{
    color: green;
}
.faq.active .p1{
    color: black;
}
.faq.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s ease-in;
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}