/*--- CAROUSEL ---*/
.slider{
    width: 800px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    
}
.slides{
    width: 340%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.slides input{
    display: none;
}
.slide{
    width: 7%;
    transition: 2s;
}
.slide img{
    width: 200px;
    height: 300px;
}

/*manuel*/
.navigation-manuel{
    position: absolute;
    width: 750px;
    margin-top: -180px;
    display: flex;
    justify-content: center;
}
.manuel-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manuel-btn:not(:last-child){
    margin-right: 40px;
}
.manuel-btn:hover{
    background: #fff;
}
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -30%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -70%;
}



/*AUTO NAV
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    transition: 2s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}*/