.img{
    max-width: 500px;
    float: right;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 25px;
}
.wrapper1{
    margin: 100px auto;
    width: 85%;
}
.text-box1{
    color: black;

}
.text-box1 h2{
    font-size: 42px;
}
.text-box1 #p{
    font-size: 14px;
    color: black;
    text-align: justify;
    
}
@media screen and (max-width:900px) {
    .img{
        max-width: 280px;
        border: 3px solid black;
        border-radius: 10px;
        margin-right: 15px;
    }
}
.wrapper1 button{
    width: 45%;
    padding: 14px 0;
    background: transparent;
    color: black;
    font-size: 15px;
   
    float: left;
    border: 1px solid #FF5C00;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.5s;
    border-radius: 0 30px 0 30px;
}
.wrapper1 button:hover{
    background: #FF5C00;
}
.course-col button{
    width: 45%;
    padding: 14px 0;
    background: transparent;
    color: black;
    font-size: 15px;
    border: 1px solid #FF5C00;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.5s;
    border-radius: 0 30px 0 30px;
}
.course-col button:hover{
    background: #FF5C00;
}